* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.mainDiv{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.addDetailsComponent{
    width: 100vw;
}

.addDetailsInnerComponent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid 2px black;
    margin: 20px 30px 10px;
    padding: 15px;
    border-radius: 10px;
}

.addDetailsInnerComponent input{
    width: 15vw;
    font-size: 13px;
    padding:5px;
}

.addDetailsInnerComponent button{
    width: 10vw;
    font-size: 14px;
    padding: 8px;
    margin-top: 21px;
    cursor: pointer;
    background-color: rgb(78, 109, 211);
    border: none;
    color: white;
    border-radius: 10px;
}

.labelInputDiv{
    display: flex;
    flex-direction: column;
}

.showDetailsComponent{
    width: 100vw;
}

.showDetailsInnerComponent{
    height: 77vh;
    border: solid 2px black;
    margin: 20px 30px 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showDetailsEmpty{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShowDetailsDataView {
    width: 100%;
    height: 100%;
    display: grid;

    /* EXACTLY 4 CARDS PER ROW */
    grid-template-columns: repeat(5, 1fr);

    gap: 10px;
    padding: 20px;

    /* Allow infinite rows with scroll */
    overflow-y: auto;
    align-items: start;
}


.userDetailDiv{
    width: 22vw;
    height: 30vh;
    border: solid 1px black;
    border-radius: 20px;
    margin-right: 30px;
}


